/* DEV: view all element borders, like a wireframe etc. */
* {
    border: 1px solid black 
}

html{
    background-color:rgb(24, 26, 27);
    margin: 0px;
}
p{
    text-align: left;
    color: rgb(195, 245, 200);
}
body{
    margin: 0px;
}
.title {
    margin: 0px;
    color:rgb(0, 127,14);
    font-family: "Calibri";
    font-size: 6vw;
    font-weight: 900;
    max-height: 7vmax;
    text-decoration: none;
}
.green_line{
    width: 100%;
    border: rgb(0, 127,14) 1px solid;
    margin: 0px;
}

/*    Navbar */
.navbar  {
    background-color:rgb(0, 127,14);
    height: 10vw;
    max-height: 7vmax;
    width: 100%;
}
.navbar .title{
    color:rgb(255,255,255);
    float: left;
    position: relative;
    vertical-align: baseline;

}

.navbar .navbar-left {
    height: 100%;
    float:left;
    padding:0vw;
    margin-left: 5%;
    display: flex;
    align-items: center;
}

.navbar .navbar-right {
    height: 100%;
    padding-right: 4vw;
    padding-top: 0px;
    float: right;
    display: flex;
    align-items: center;
}

.navbar .navbar-element {
    display: inline-block;
    vertical-align: middle;
}

.navbar-burger-button-container {
    color:rgb(255,255,255);
    width: 5vw;
    height: 5vw;
    cursor:pointer;
    max-width: 100%;
    max-height: 100%;
}

.burger_button {
    font-size: 4.5vw;
}

.logo_container {
    position: relative;
    display: inline-block;
    width: 5vw;
    height: 5vw;
    vertical-align: top;
    margin-left : 1vw;
    margin-right : 1vw;
}

.logo_link_insta {
    display: inline-block;
	position: relative;
    background-image: url("../resources/instagram logo.png");
    background-size: contain;
    width: inherit;
    height: inherit;
}

.logo_link_fb {
    display: inline-block;
	position: relative;
    background-image: url("../resources/facebook logo.png");
    background-size: contain;
    width: inherit;
    height: inherit;
}




/* Sidemenu css */
/* The side navigation menu */



.sidenav {
    border:1px solid rgb(0, 127,14);
    width: 0; /* 0 width - change this with JavaScript */
    height: 100%; /* 100% Full-height */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    background-color: rgb(44, 47, 49); 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 100px; /* Place content 100px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    right: 0;
}
  
  /* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 35px;
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
    color: rgb(0, 127,14);
    display: block;
    transition: 0.3s;
}
  
  /* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}
  
  /* Position and style the close button (top right corner) */
.sidenav .closebtn {

    margin-right: 5%;
    position: absolute;
    top: 1%;
    right: 5%;

}
  
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

/*@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}*/

