/* See css fail on valideeritud https://jigsaw.w3.org/css-validator */
/* Keskmine sektsioon */

.middle_section{
    width: 100%;
    height: auto;
}

.text{
  padding: 3%;
}
.house_container{
    width: 90%;
    height: auto;
    margin: 0px;
    padding: 5%;
    display: flex;
    flex-direction: column;
}
.text_container{
    width: 100%;
    height: auto;
    margin: 0px;
}
.middle_title{
    margin-top: 5%;
    margin-left: 3%;
}

.image_container{
    border: 2px solid rgb(0, 127,14);
    margin: 0%;
    padding: 2%;
    height: 100%;
}
.image{
    max-width: 100%;
    max-height: 100%;
}


/* Pildivahetuse css */
.image_border_fade {
    width:100%;
}










