/*  Global css rules */
html{
    /* Kui sa avad kõrval menüü siis see muudab ka tagatausta värvi */
    background-color:rgb(24, 26, 27);
    margin: 0px;
}
/* DEV: view all element borders, like a wireframe etc. */
/* {
    border: 1px solid black 
}*/
p{
    text-align: left;
    color: rgb(195, 245, 200);
}
body{
    margin: 0px;
}
/*    Navbar */
.navbar  {
    height: 100px;
    width: 100%;
}

.navbar .navbar-left,
.navbar .navbar-right {
    display: inline-block;
    vertical-align: baseline;
    height: 100%;
    padding-top: 25px;
}

.navbar .navbar-left {
    padding-left: 25px;
}

.navbar .navbar-right {
    padding-right: 25px;
    float: right;
}

.navbar .navbar-element {
    display: inline-block;
    vertical-align: middle;
}

.navbar .navbar-right .navbar-element {
    margin-top: 10px;
}

.title  {
    vertical-align: baseline;
    margin: 0px;
    color:rgb(0, 127,14);
    font-family: "Calibri";
    font-size: 50px;
    font-weight: 900;
    float: left;
    position: relative;
}

.logo_link_insta {
    display: inline-block;
	position: relative;
    background-image: url("../resources/instagram logo.png");
    background-size: contain;
    width: inherit;
    height: inherit;
}

.logo_link_fb {
    display: inline-block;
	position: relative;
    background-image: url("../resources/facebook logo.png");
    background-size: contain;
    width: inherit;
    height: inherit;
}

.logo_container {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    vertical-align: top;
    margin-left : 10px;
    margin-right : 10px;
}


.side-menu-button-container {
    width: 40px;
    cursor:pointer;
    padding-left: 10px;
}

.side_menu_button {
    font-size: 30px;
}
/* Middle section                  */

.middle_section{
    width: 100%;
    height: auto;
}

.grey_line{
    width: 100%;
    border: gray 1px solid;
    margin: 0px;
}
.house_container{
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 5%;
    display: flex;
    flex-direction: column;
}
.text_container{
    width: 100%;
    height: auto;
    margin: 0px;
}
.middle_title{
    margin-top: 5%;
    margin-left: 3%;
}

.image_container{
    border: 2px solid rgb(0, 127,14);
    margin: 0%;
    padding: 2%;
    height: 100%;
}
.image{
    max-width: 100%;
    max-height: 100%;
}

.linkbox {
    margin-top: 2%;
    float: left;
    border: 1px solid rgb(0, 127,14);
    color:rgb(195, 245, 200);
    text-decoration: none;
    padding:0.5%;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
  }
.linkbox:hover, .linkbox:focus, .linkbox:active {
    background-color: rgba(211, 250, 208, 0.795);;
    color: white;
  }

/*  Bottom_section css*/

.bottom_section{
    background-color: rgb(0, 127,14);
    width: 100%;
    height: auto;
}
.contactinfo_container p{
    text-align: left;
    color: rgb(195, 245, 200);
    margin: 0%;
    text-align: center;
}
.contactinfo_container{
    width: 100%;
    margin:0 auto;
}


/* Sidemenu css */
/* The side navigation menu */
.sidenav {
    width: 0; /* 0 width - change this with JavaScript */
    height: 100%; /* 100% Full-height */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    background-color: rgb(66, 175, 82); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 100px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    right: 0;
}
  
  /* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
}
  
  /* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}
  
  /* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 25px;
    right: 20px;
    font-size: 36px;
    margin-left: 50px;
}
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
}
  
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

