#wrapper {
	width: 1650px;
	height: 1172px;
    margin: 0 auto;
	background-image: url(../resources/bg_Pauliait.png);
}
#header {
	width: 1650px;
	height: 80px;
}
#mainBody{
	width:1650px;
	height:900px;
}
#footer{
	width:1650px;
	height:200px;
}
#selectionRiba {
	width: 1500px;
	height: 74px;
	margin-left: 90px;
	background-image: url(../resources/selectionRiba.png);
}
#selectionNupud {
	width: 1500px;
	height: 74px;
	z-index:50;
}
#selectionNupud img{
	margin-top:5px;
	margin-left: 50px;
	z-index:50;
}

.btn_Avaleht:hover {
	background-image: url(../resources/btn_Avaleht_Hover.png)
}
.btn_Saunamaja:hover {
	background-image: url(../resources/btn_Saunamaja_Hover.png)
}
.btn_Pauliait:hover {
	background-image: url(../resources/btn_Pauliait_Hover.png)
}
.btn_Kontakt:hover {
	background-image: url(../resources/btn_Kontakt_Hover.png)
}
.hoverPauliait:hover{
	/*background-image: url(../resources/btn_Pauliait_Hover.png)*/
}


