.text_container .title{
    margin: 5%;
    margin-top: 4%;
    margin-bottom: 4%;
}

.price_container{
    display: table;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    border: 1px solid green;
}
.single_price_container{
    columns: 3;
    padding:1%;
}
.price_container p{
    padding: 1%;
    padding-left: 1.5%;
}
.text_container p{
    margin: 1%;
    margin-left:10%;
}
.text_container{
    margin-bottom: 2%;
}

.linkbox{
    margin-left: 5%;
    margin-bottom: 5%;
}
